html {
    font-family: 'Raleway', sans-serif;
    background-color: #222;
    color: #fff;
}

.central {
    color: #6ee1f5;
    margin-top: 25vh;
    margin-bottom: 25vh;
    text-align: center;
    align-items: center;
}

#http-status {
    font-size: 128px;
}

#message {
    color: #fff;
    font-size: 24px;
}

#link {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    border-bottom: 2px solid #222;
}

#link:hover {
    transition: 0.3s;
    border-bottom: 2px solid #6ee1f5;
}