<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div class="content">            
        </div>
        <h1 id="main-title">
            'Afterimage'
            <br>
            <span class="introduction">Friendly URL with PHP</span>
        </h1>
        <ul id="list-line">
            <li>
                <a href="./">Home</a>
            </li>
            <li>
                <a href="./message">Message</a>
            </li>
            <li>
                <a href="https://github.com/WeslleyRAraujo/afterimage-doc/blob/main/Routers.md" target="_blank">Mini Doc</a>
            </li>
            <li>
                <a href="https://github.com/WeslleyRAraujo" target="_blank">GitHub</a>
            </li>
        </ul>
    </div>
</body>
</html>