<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="icon" type="image/png" href="/assets/icons/favicon.ico"/>
    <title>{{ title }}</title>
</head>
<body class="d-flex flex-column justify-content-center align-items-centere">
  <div class="container align-middle">
    <div class="row">
      <div class="col-sm-4 mx-auto">
        <div class="card border-0 shadow shadow-lg rounded-3 my-5 align-middle">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5">Afterim@ge</h5>
            <form method="POST" action="/login/auth">
              <div class="form-group mb-4">
                  <label>Login</label>
                  <input type="text" class="form-control" id="floatingInput" placeholder="usuario" name="login" />
              </div>
              <div class="form-group mb-3">
                  <label for="floatingPassword">Senha</label>
                  <input type="password" class="form-control" id="floatingPassword" placeholder="1234..." name="password" value="">
              </div>
              <div>
                <small class="text-danger">
                </small>
              </div>
              <div class="d-grid mt-2">
                <button class="btn btn-dark fw-bold" type="submit">Entrar</button>
              </div>
              
              <hr class="my-4">
              <div class="text-center">
                  © 2021 <a class="text-reset fw-bold" id="link-github" href="https://github.com/WeslleyRAraujo" target="_blank">Weslley Araujo</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>